[Unit]
Description=Resident app service for RDK platform
After=wpeframework.service
Requires=wpeframework.service

[Service]
Environment="LOGPATH=/opt/logs"
ExecStart=/bin/sh -c 'exec /lib/rdk/residentApp.sh &'
RemainAfterExit=yes
ExecStop=/bin/sh -c 'exec /lib/rdk/residentApp.sh stop '

[Install]
WantedBy=multi-user.target
